// Variables:
@border-colour: #f2f2f2;

//
//  Accordion styles
//  _____________________________________________
& when (@media-common = true) {
    ul {
        &[data-content-type="accordion"] {
            margin-block-start: 25px;
            padding: 0;
            list-style-type: none;
            li {
                &[data-content-type="accordion-item"] {
                    position: relative;
                    padding: 0;
                    margin: 0;
                    details {
                        margin-block-end: 20px;
                        padding-block-end: 20px;
                        border-block-end: 1px solid @border-colour;

                        &[open] {
                            padding-bottom: 0;

                            summary {
                                &::before {
                                    transform: translate(-50%, -50%) rotate(450deg);
                                }
                            }
                        }

                        summary {
                            position: relative;
                            padding-right: 30px;
                            font-size: 20px;
                            line-height: 28px;
                            cursor: pointer;
                            list-style: none;

                            &::-webkit-details-marker {
                                display: none;

                                @media speech {
                                    display: inline-block;
                                }
                            }

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                background-color: currentColor;
                                transition: transform 0.3s ease;
                            }

                            &::after {
                                right: 0;
                                width: 16px;
                                height: 2px;
                                transform: translate(-50%, -50%);
                            }

                            &::before {
                                right: 14px;
                                width: 2px;
                                height: 16px;
                                transform: translate(-50%, -50%) rotate(0deg);
                            }
                        }

                        [data-element="description"] {
                            margin-block-start: 15px;
                            padding-block-end: 15px;
                        }
                    }
                }
            }
        }
    }
}